html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: rgba(5, 87, 174, 0.7) */
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Alef&family=Catamaran:wght@100&family=Edu+NSW+ACT+Foundation&family=Fuzzy+Bubbles&family=Heebo:wght@100;200;300;400&family=poppins:wght@600&family=Irish+Grover&family=Lato:ital,wght@1,300&family=Lemon&family=Manrope:wght@300;400&family=Mukta:wght@300;400&family=Open+Sans:wght@300&family=PT+Sans&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:ital,wght@0,400;1,300;1,400&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&family=Poppins&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  input, select, textarea {
    @apply border border-gray-200 bg-[#F6F7FD] py-3 px-2 rounded-[10px]
  }
}

@layer utilities {
  .navItem {
    @apply font-[400]  hover:text-secondary font-poppins lg:mr-8  py-2 px-3 lg:py-0 lg:px-0 text-base
  }
  .navItem:nth-child(5) {
    @apply mr-0
  }
  label {
    @apply font-semibold text-text_primary text-base
  }

  .select::after {
    content: "";
    @apply absolute bottom-[8px] mt-2 w-[100px] h-[2px] bg-secondary right-[50%] translate-x-[50%]
  }

  .service {
    @apply bg-primary text-white;
  }

  .box::after {
    content: ">";
    position: absolute;
    right: 0;
    font-size: 2rem;
    padding-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 900;
  }

  .scale_up:hover div img {
    transform: scale(1.4);
  }
  
.paystack-button {
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: #2BB74D;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  margin-top: 30px;
}
  .scale_up:hover div img::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7));
  }
  tr {
		@apply md:w-full;
	}

	thead > td {
		@apply text-[#5A5F66] text-[14px] tracking-[0.25px] leading-[20px];
	}

	/* 	
	td:nth-child(1) {
		@apply 
	} */

	td {
		@apply pr-8	lg:pr-0 border border-gray-300 pl-4;
	}

	tbody > tr > td {
		@apply py-3 text-gray-500 lg:w-[25%]   text-[10px] lg:text-[14px] font-poppins leading-[12px] lg:leading-[20px] tracking-[0.25px] ;
	}

	/* .tableDesign td {
		@apply lg:w-[12.5%];
	} */

	.tableOffer td {
		@apply lg:w-[16.67%];
	}
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #294DB6;
  border-radius: 10px ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}